<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="https://bsky.app/profile/serayibrahim.bsky.social" target="_blank" rel="noopener">Bluesky</a> | 
          <a href="https://www.linkedin.com/in/seray-ibrahim-5244b83b/" target="_blank" rel="noopener">LinkedIn</a> | 
          <a href="https://scholar.google.com/citations?user=09aZAr4AAAAJ&hl=en&inst=5619824916424573706&oi=ao" target="_blank" rel="noopener">Google Scholar</a> | 
          <a href="https://www.researchgate.net/profile/Seray-Ibrahim" target="_blank" rel="noopener">ResearchGate</a>
        </p>
      </div>
    </div>
  </div>
</footer>
